/*general website formatting------------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif; }

footer, .nav-item, h5, .modal-footer {
  font-family: "Raleway", sans-serif; }

h1 {
  font-family: 'Aladin', sans-serif; }

.navbar-dark {
  background-color: #59916d; }

/*variables ---------------------------------------------------------------------------------------------*/
/* header and footer background */
/* navbar card headers backgrounds; HOVER font color: navbar, header Mantis */
/* header, card header, and card body fonts */
/*button ------------------------------------------------------------------------------------------------*/
.btn-custom {
  color: #fff;
  background-color: #59916d;
  border-color: #59916d;
  color: #fff; }
  .btn-custom:hover {
    color: #fff;
    background-color: #4a795b;
    border-color: #467155; }
  .btn-custom:focus, .btn-custom.focus {
    color: #fff;
    background-color: #4a795b;
    border-color: #467155;
    box-shadow: 0 0 0 0.2rem rgba(114, 162, 131, 0.5); }
  .btn-custom.disabled, .btn-custom:disabled {
    color: #fff;
    background-color: #59916d;
    border-color: #59916d; }
  .btn-custom:not(:disabled):not(.disabled):active, .btn-custom:not(:disabled):not(.disabled).active,
  .show > .btn-custom.dropdown-toggle {
    color: #fff;
    background-color: #467155;
    border-color: #41694f; }
    .btn-custom:not(:disabled):not(.disabled):active:focus, .btn-custom:not(:disabled):not(.disabled).active:focus,
    .show > .btn-custom.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(114, 162, 131, 0.5); }

.btn-custom:focus, .btn-custom:active:focus, .btn-custom.active:focus {
  outline: none !important;
  box-shadow: none !important; }

/*HEADER CUSTOM styles-------------------------------------------------------------------------*/
a.website-name {
  /*CUSTOM container*/
  color: #202020; }

.website-name:hover {
  text-decoration: none;
  color: #f9f9f9; }

/*NAVBAR (top) styles---------------------------------------------------------------------------*/
.navbar-nav {
  /*add space after website logo*/
  padding: 40px; }

.navbar-collapse {
  overflow-y: hidden; }

/*SHOPPING BAG MODAL styles------------------------------------------------------------------------*/
/*variables ---------------------------------------------------------------------------------------------*/
/* header and footer background */
/* navbar card headers backgrounds; HOVER font color: navbar, header Mantis */
/* header, card header, and card body fonts */
/*button ------------------------------------------------------------------------------------------------*/
.btn-custom {
  color: #fff;
  background-color: #59916d;
  border-color: #59916d;
  color: #fff; }
  .btn-custom:hover {
    color: #fff;
    background-color: #4a795b;
    border-color: #467155; }
  .btn-custom:focus, .btn-custom.focus {
    color: #fff;
    background-color: #4a795b;
    border-color: #467155;
    box-shadow: 0 0 0 0.2rem rgba(114, 162, 131, 0.5); }
  .btn-custom.disabled, .btn-custom:disabled {
    color: #fff;
    background-color: #59916d;
    border-color: #59916d; }
  .btn-custom:not(:disabled):not(.disabled):active, .btn-custom:not(:disabled):not(.disabled).active,
  .show > .btn-custom.dropdown-toggle {
    color: #fff;
    background-color: #467155;
    border-color: #41694f; }
    .btn-custom:not(:disabled):not(.disabled):active:focus, .btn-custom:not(:disabled):not(.disabled).active:focus,
    .show > .btn-custom.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(114, 162, 131, 0.5); }

.btn-custom:focus, .btn-custom:active:focus, .btn-custom.active:focus {
  outline: none !important;
  box-shadow: none !important; }

.modal-open {
  padding: 0 !important;
  /*the modal.body behavior pushes everything to the right...*/
  overflow-y: auto;
  /*this stops it from doing that*/ }

.modal-header {
  background-color: #59916d; }

.modal-footer {
  padding: 0;
  background-color: #f9f9f9; }

/*CUSTOM MEDIA QUERY for shopping bag------------------------------------------------------------*/
@media only screen and (min-width: 992px) {
  /*CUSTOM container*/
  .shopping-bag {
    position: absolute;
    top: 50px;
    right: 30px; } }

@media only screen and (min-width: 992px) {
  /*stop default modal behavor from pushing this to the right*/
  .modal-open .shopping-bag {
    position: absolute;
    top: 50px;
    right: 45px; } }

/*shopping container image overlay---------------------------------------------------------------------*/
.img-container {
  /*CUSTOM container*/
  position: relative;
  display: inline-block; }

.img-container img {
  display: block; }

.img-container .overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 93%;
  height: 93%;
  background: rgba(121, 165, 165, 0.5);
  opacity: 0;
  transition: opacity 450ms ease-in-out; }

.img-container:hover .overlay {
  opacity: 1; }

.overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; }

/*Modal Scroll------------------------------------------------------------------------------*/
.modal-dialog,
.modal-content {
  /* 80% of window height */
  height: 80.3%; }

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: scroll; }

@media only screen and (max-width: 575.98px) {
  /*CUSTOM container*/
  .modal-dialog,
  .modal-content {
    /* 80% of window height */
    height: 95%; } }

/*product modal to stop y-overflow---------------------------------------------------------------------*/
.modal-product-body {
  overflow-y: hidden;
  text-align: justify;
  font-size: .8rem; }

.modal-item-name {
  font-size: 1rem; }

.product-modal .modal-dialog,
.product-modal .modal-content {
  height: 75%; }

/*products container image overlay---------------------------------------------------------------------*/
.product-img-container {
  /*CUSTOM container*/
  position: relative;
  display: inline-block; }

.product-img-container img {
  display: block; }

.product-img-container .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(121, 165, 165, 0.5);
  opacity: 0;
  transition: opacity 450ms ease-in-out; }

.product-img-container:hover .overlay {
  opacity: 1; }

.product-overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; }

/*styling for the product page of one item!---------------------------------------------*/
.product-name {
  font-family: "Raleway", sans-serif; }

/*BODY container styling---------------------------------------------------------------------*/
.body-container {
  /*CUSTOM container: to give min height*/
  min-height: 500px;
  padding: 15px; }

/*SIDEBAR CUSTOM container and cards styling--------------------------------------------------------------*/
/*variables ---------------------------------------------------------------------------------------------*/
/* header and footer background */
/* navbar card headers backgrounds; HOVER font color: navbar, header Mantis */
/* header, card header, and card body fonts */
/*button ------------------------------------------------------------------------------------------------*/
.btn-custom {
  color: #fff;
  background-color: #59916d;
  border-color: #59916d;
  color: #fff; }
  .btn-custom:hover {
    color: #fff;
    background-color: #4a795b;
    border-color: #467155; }
  .btn-custom:focus, .btn-custom.focus {
    color: #fff;
    background-color: #4a795b;
    border-color: #467155;
    box-shadow: 0 0 0 0.2rem rgba(114, 162, 131, 0.5); }
  .btn-custom.disabled, .btn-custom:disabled {
    color: #fff;
    background-color: #59916d;
    border-color: #59916d; }
  .btn-custom:not(:disabled):not(.disabled):active, .btn-custom:not(:disabled):not(.disabled).active,
  .show > .btn-custom.dropdown-toggle {
    color: #fff;
    background-color: #467155;
    border-color: #41694f; }
    .btn-custom:not(:disabled):not(.disabled):active:focus, .btn-custom:not(:disabled):not(.disabled).active:focus,
    .show > .btn-custom.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(114, 162, 131, 0.5); }

.btn-custom:focus, .btn-custom:active:focus, .btn-custom.active:focus {
  outline: none !important;
  box-shadow: none !important; }

.sidebar-container {
  /*CUSTOM: fixed width to sidebar; min height associated w/ body height*/
  width: 300px;
  height: 500px;
  overflow-y: auto; }

.card-container a:hover, .card-header a:hover {
  /*change card header and body styles*/
  text-decoration: none; }

.card-header a {
  color: #202020; }

.card-header {
  height: 41.5px; }

.card-container {
  background-color: #f9f9f9;
  height: 40px; }

.card-container a {
  color: #202020; }

.card-body {
  padding: 0; }

.fa-plus {
  color: gray; }

/*buttons--------------------------------------------------------------------------------------*/
.btn:focus {
  /*reformat the buttons in sidebar nav*/
  box-shadow: none; }

.btn-outline-dark {
  border: none;
  padding-left: 20px; }

.btn-link:hover {
  /*buttons in nav bar hover text color is white*/
  color: #f9f9f9; }

/*FOOTER reformat of text items and background----------------------------------------------------*/
.site-footer {
  /*CUSTOM container*/
  background-color: #59916d;
  min-height: 150px;
  color: white; }

.footer-text p {
  margin: 0; }

.btn-social-icon {
  color: white; }

/*SCROLL UP button styles----------------------------------------------------------------------------*/
#back-top {
  position: relative;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.5);
  bottom: 0%;
  left: 45%;
  width: auto;
  text-decoration: none; }
